:root {
  --background: white;
  --main: burlywood;
  --font: black;
}

body {
    width: 100%;
    margin: auto;
    color: var(--font);
    text-align: center;
    font-family: 'Times New Roman';
    background: var(--background);
}

header {
    overflow: hidden;
    background-color: var(--main);
    position: sticky;
    top: 0;
    z-index: 1;
}

header a{
    color: var(--font);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.7rem;
}

/*------------- NAVIGATION BAR ---------------*/
nav {
    overflow: hidden;
    background-color: var(--main);
    position: sticky;
    top: 4.3rem;
    z-index: 1;
}

nav a {
    float: left;
    color: var(--font);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.sign, .log {
    float: right;
}

nav a:hover {
    background-color: white;
    color: var(--font);
}

.cart-button {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: 16px;
    right: 34px;
    padding: 0 5px;
    font-size: 0.8rem;
    color: var(--font);
    border-radius: 30%;
    background-color: var(--main);
}

/*-------------- BANNER -------------*/

.main {
    min-height: 100vh;
    background: url("./images/main-background.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 30px;
  }

.banner-title {
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }

.banner-btn {
    padding: 15px 30px;
    letter-spacing: 1px;
    font-size: 16px;
    background: var(--main);
    color: var(--font);
    border: 1px solid var(--main);
    transition: all 0.3s linear;
    cursor: pointer;
  }

.banner-btn:hover {
    background: transparent;
    color: var(--main);
  }

/*--------------- FILTER -------------*/

#filters {
  margin-bottom: 2rem;
}

.filter {
  background-color: var(--main);
  border: 1px solid var(--background);
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
}

.filter:hover {
  background-color: white;
  border: 1px solid var(--main);
  color: var(--font);
  cursor: pointer;
}

/*--------------- PRODUCTS ------------*/

.products {
    padding: 20px 0;
  }

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
  }

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

.img-container {
    position: relative;
    overflow: hidden;
  }

.bag-button {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--main);
    border: none;
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
  }

.bag-button:hover {
    color: white;
  }

.fa-shopping-cart {
    margin-right: 5px;
  }

.img-container:hover .bag-button {
    transform: translateX(0);
  }

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: all 0.3s linear;
  }

.img-container:hover .product-img {
    opacity: 0.5;
  }
  
.product h3 {
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 17px;
    letter-spacing: 1px;
    text-align: center;
  }
  
.product h4 {
    margin-top: 10px;
    letter-spacing: 1px;
    color: var(--font);
    text-align: center;
  }
  
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
  }

.showCart {
    transform: translateX(0);
  }

.transparentBcg {
    visibility: visible;
  }

@media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
.close-cart {
    font-size: 25px;
    cursor: pointer;
  }

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 32px;
  }

  /*---------- Cart Item -------------------- */

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }

.cart-item img {
    width: 75px;
    height: 75px;
  }

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
  }

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
  }

.item-amount {
    text-align: center;
  }

.remove-item {
    color: grey;
    cursor: pointer;
  }

.fa-chevron-up, .fa-chevron-down {
    color: var(--main);
    cursor: pointer;
  }

.cart-footer {
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

/*--------------- LOG IN -------------*/


.center {
  margin-top: 20px;
  align-items: center;
  padding: 20px;
}

form div {
  padding: 10px;
}

form input[type="text"], form input[type="password"] {
  width: 200px;
  height: 20px;
  border-bottom: 3px solid var(--main);
  border-top: none;
  border-left: none;
  border-right: none;
}

form input[type="text"]:focus, form input[type="password"]:focus {
  outline:none;
}

form input[type="submit"] {
  width: 100px;
  background-color: var(--main);
}

form a {
  text-decoration: none;
  color: var(--main);
}


/*--------------- FOOTER -------------*/

footer {
    color: var(--font);
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.hidden {
  display: none;
}